# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# MacOS & system files
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Test/coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Data files (optional – remove these if you want to keep raw data in Git)
data/*.csv
data/*.txt
data/*.xlsx


# Plot images
visuals/*.png
